// Font families
$primary_font-family: "Josefin Sans", sans-serif;
$secondary_font-family: "Aleo", serif;
$tertiary_font-family: "Roboto", sans-serif;


// Font sizes
$xxlarge_font_size: 48px;
$xlarge_font_size: 36px;
$large_font_size: 24px;
$medium_font_size: 22px;
$small_font_size: 20px;
$xsmall_font_size: 16px;
$xxsmall_font_size: 14px;
$xxxsmall_font_size: 12px;





//Font weights
$regular_font_weight: 500;
$bold_font_weight: 700;


//Line heights



//Letter spacing
$xlarge_letter_spacing: 4.8px;
$xxlarge_letter_spacing: 6.82px;
$large_letter_spacing: 3.36px;
$medium_letter_spacing: 2.8px;
$small_letter_spacing: 2.4px;
$xsmall_letter_spacing: 1.6px;
$xxsmall_letter_spacing: 1.5px;
$xxxsmall_letter_spacing: 1.4px;
$xxxxsmall_letter_spacing: 1.2px;

